.posts-list{
    border-radius: 10px;
}
.user-post{
    padding: 16px 0px;
}
.post-text{
    padding-bottom: 10px;
}
.post-image{
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.user-details{
    display: flex;
    flex-direction: column;
}