.App{
    min-height: 100vh;
}
.app-layout{
    min-height: 100vh;
}
.app-header{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.app-title#app_title{
    margin: 0px;
}

.app-content{
    margin: 50px 16px;
    /* min-height: calc(100vh - 64px); */
}

@media (min-width: 600px) {
    .app-content{
        margin: 50px 50px;
    }
}
